<footer class="block block--dark footer">
    <div class="container grid footer__sections">
        <section class="footer__section">
            <h2 class="footer__heading">Social</h2>
            <ul class="list">
                <li><a href="#">Github</a></li>
                <li><a href="#">Instragram</a></li>
                <li><a href="#">Facebook</a></li>
            </ul>
        </section>
        <section class="footer__section">
            <h2 class="footer__heading">Azienda</h2>
            <ul class="list">
                <li><a href="https://github.com/dodiz">Donato</a></li>
                <li><a href="https://github.com/beppe21">Giuseppe</a></li>
                <li><a href="https://github.com/Hmata29">Hedrick</a></li>
                <li><a href="https://github.com/SimoneCrisalli">Simone</a></li>
            </ul>
        </section>

        <section class="footer__section">
            <h2 class="footer__heading">Dove siamo</h2>
            <ul class="list">
                <li><a href="#">Via vattelapesca, 21</a></li>
                <li><a href="#">20129 Milano</a></li>
                <li><a href="#">Casa di simone</a></li>
            </ul>
        </section>

        <div class="footer__brand">
            <img src="images/generation-logo.svg" alt="" />
            <p class="footer__copyright">Copyright 2020 I fantastici 4</p>
        </div>

    </div>
</footer>